.menu{
    background-color: pink ;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:blue

}
body{
    background-color: brown;
}

    .grid{
    display:flex;
    flex-wrap:wrap;
    font-family: sans-serif;
    }
    .grid img{
        border:2px solid tomato;
        border-radius: 50px
    }
    .origami{
        border-radius: 20px;
        background-color: violet;
        width:310px;
        font-family:fantasy;

    }